wheel
setuptools
scikit-image
jupyterlab 
ipykernel
numpy
pandas
scipy
matplotlib
fiona
opencv-python
shapely
imagecodecs
tqdm
osmnx
torchsummary
geopandas==0.6.3
tensorboardX
tensorboard
networkx==2.2
numba
utm
intel_extension_for_pytorch
